//- layout.pug
include ../assets/wb-info-block/wb-info-block
include ../assets/top-menu/top-menu
include ../assets/wb-form/wb-form
include ../assets/sign-up/sign-up

block variables
  -
    var globalHead = {
      canonical : '',
      faviconPathName : '/favicon',
      title : 'Фулфилмент Вайлдбериз fulfilment wildberries',
      description : 'Фулфилмент WildBerries',
      keywords : 'fulfilment, wildberries, fbo, fbs, фулфилмент, помощь в отгрузке wildberries',
    }
    var header1 = 'Фулфилмент для продавцов WildBerries'
    var paragraph1 = 'This is paragraph ONE'
    var paragraph2 = 'This is paragraph TWO'
    var interpolated = 'interpolated variable'

    //*BlockInfo = { headerText, text, imageSource, backgroundImageSource, form }
    var infoBlocks = [
    {
      backgroundImageSource : 'images/background1.jpg',
      //- imageSource : '/images/test.jpeg',
      form : [{
        inputType : 'text',
        textBefore : 'Имя:',
        idInput : 'name',
      },{
        inputType : 'text',
        textBefore : 'Телефон:',
        idInput : 'phone',
      },{
        inputType : 'submit',
        textBefore : '',
        idInput : 'SUBMIT',
      },
      ],
    },{
      imageSource : 'images/delivery.jpg',
      headerText : 'Доставка',
      text : 'Наличие собственного парка автомобилей позволяет нам быстро и дешево забирать и доставлять товары до склада FBS',
    },{
      imageSource : 'images/packing.jpg',
      headerText : 'Упаковка товара',
      text : 'Упакуем и промаркируем товары под WildBerries. Постоянно следим за обновлением маркировки и соблюдаем все актуальные требования',
    },{
      imageSource : 'images/order-picking.jpg',
      headerText : 'Комплектация заказов',
      text : 'Качественно соберем заказ любой сложности, 0% недовложений',
    },{
      imageSource : 'images/acceptance.jpg',
      headerText : 'Прием товара от поставщика',
      text : 'Заберем Ваш товар у поставщика, проверим каждую единицу на целостность и примем на ответственное хранение',
    },{
      imageSource : 'images/store-goods.jpg',
      headerText : 'Хранение товара на складе',
      text : 'Все виды хранения: напольное, полочное, мелкоячеистое. Подберем самый подходящий и доступный вариант',
    }]

    var topMenu = [{
      name : 'Тарифы',
      link : '',
    },{
      name : 'О Нас',
      link : '',
    },{
      name : '+7 985 635 5151',
      link : 'tel:+79856355151',
    }
    ]

html
  head
    block head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='description' CONTENT=globalHead.description)
    meta(name='keywords' content=globalHead.keywords)
    link(rel='canonical' href=globalHead.canonical)
    link(rel="icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    link(rel="shortcut icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    title= globalHead.title
      
      
  body
    header.wb-site-header
      h1.wb-site-header__h1= header1
      .wb-site-header__menu-wrapper
        +top-menu(topMenu)

    article
      +signup
      block content
        .wb-site-content
          each infoBlock in infoBlocks
            +wb-info-block(infoBlock)

    footer