//- layout.pug
include ../assets/wb-info-block/wb-info-block
include ../assets/top-menu/top-menu
include ../assets/wb-form/wb-form
include ../assets/wb-unmarked-list/wb-unmarked-list
include ../assets/sign-up/sign-up

block variables
  -
    var globalHead = {
      canonical : '',
      faviconPathName : '/favicon',
      title : 'Фулфилмент Вайлдбериз fulfilment wildberries',
      description : 'Фулфилмент WildBerries',
      keywords : 'fulfilment, wildberries, fbo, fbs, фулфилмент, помощь в отгрузке wildberries',
    }
    var header1 = 'Фулфилмент для продавцов WildBerries'
    var paragraph1 = 'This is paragraph ONE'
    var paragraph2 = 'This is paragraph TWO'
    var interpolated = 'interpolated variable'

    //*BlockInfo = { headerText, text, imageSource, backgroundImageSource, form }
    var ourServicesInfoBlocks = [
    {
      headerText : 'Наши услуги',
      styles : 'bold-header-text red-header-text top-margin-ten',
    },{
      imageSource : 'images/delivery.jpg',
      headerText : 'Доставка',
      text : 'Наличие собственного парка автомобилей позволяет нам быстро и дешево забирать и доставлять товары до склада FBS',
      styles : 'bold-header-text plate-in-row',
    },{
      imageSource : 'images/packing.jpg',
      headerText : 'Упаковка товара',
      text : 'Упакуем и промаркируем товары под WildBerries. Постоянно следим за обновлением маркировки и соблюдаем все актуальные требования',
      styles : 'bold-header-text plate-in-row top-margin-five',
    },{
      imageSource : 'images/order-picking.jpg',
      headerText : 'Комплектация заказов',
      text : 'Качественно соберем заказ любой сложности, 0% недовложений',
      styles : 'bold-header-text plate-in-row top-margin-five',
    },{
      imageSource : 'images/acceptance.jpg',
      headerText : 'Прием товара от поставщика',
      text : 'Заберем Ваш товар у поставщика, проверим каждую единицу на целостность и примем на ответственное хранение',
      styles : 'bold-header-text plate-in-row top-margin-five',
    },{
      imageSource : 'images/store-goods.jpg',
      headerText : 'Хранение товара на складе',
      text : 'Все виды хранения: напольное, полочное, мелкоячеистое. Подберем самый подходящий и доступный вариант',
      styles : 'bold-header-text plate-in-row top-margin-five',
    },
    ]

    var aboutUsInfoBlock = {
      headerText : 'Что мы предлагаем',
      list : [
        `Примем Вашу продукцию от ТК (или заберем у поставщика)`,
        `Упакуем по требованиям WildBerries`,
        `Напечатаем ярлыки, этикетки, штрихкоды на термотрансферном оборудовании`,
        `Промаркиркуем`,
        `Предоставим короба и упаковку`,
        `Доставим и сдадим на склад Гольяново`,
        `Сделаем лендинг для Вашего товара`,
        ],
      styles : 'top-margin-five bold-header-text',
    }

    var pricelistInfoBlock = {
      headerText : 'Тарифы',
      list : [
        `Приемка, проверка, переупаковка (с подарком если надо), этикетки и маркировка - 50р (этикетка и крепёж - булавки, пластиковые стяжки с нас, распечатка на термопринтере маркировок и на принтере этикеток). Если этикетки и крепёж Ваши, то 40р`,
        `Хранение 1 мес бесплатно, далее 500р за каждые пол кубометра`,
        `Доставка до склада в Гольяново - 500р не зависимо от количества`,
        ],
      styles : 'top-margin-five bold-header-text',
    }

    var formInfoBlock = {
      styles : 'top-margin-ten',
      headerText : 'Перезвоните мне',
      form : [{
        inputType : 'text',
        textBefore : 'Имя:',
        idInput : 'name',
      },{
        inputType : 'text',
        textBefore : 'Телефон:',
        idInput : 'phone',
      },{
        inputType : 'submit',
        textBefore : '',
        idInput : 'SUBMIT',
      }],
    }
    
    var topMenu = [{
      name : 'Тарифы',
      link : '#pricelist',
    },{
      name : 'О Нас',
      link : '#aboutUs',
    },{
      name : '+7 985 635 5151',
      link : 'tel:+79856355151',
    }
    ]

html
  head
    block head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='description' CONTENT=globalHead.description)
    meta(name='keywords' content=globalHead.keywords)
    link(rel='canonical' href=globalHead.canonical)
    link(rel="icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    link(rel="shortcut icon" href=globalHead.faviconPathName+'.ico' type="image/x-icon")
    //- <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    title= globalHead.title
      
      
  body
    header.wb-site-header
      h1.wb-site-header__h1= header1
      .wb-site-header__menu-wrapper
        +top-menu(topMenu)

    article
      +signup
      block content
        .wb-site-content
          .wb-site-content__about-us(id='aboutUs')
            +wb-info-block(aboutUsInfoBlock)

          .wb-site-content__our-services-info-blocks
            each infoBlock in ourServicesInfoBlocks
              +wb-info-block(infoBlock)
          .wb-site-content__feedback-form
            +wb-info-block(formInfoBlock)
          .wb-site-content__pricelist(id='pricelist')
            +wb-info-block(pricelistInfoBlock)
    footer
      p Услуги предоставляются ИП Барышникова Е.Н. ОГРНИП ( 772070279057 )