mixin wb-info-block (blockInfoObject)
  - 
    var wbInfoBlockClasses = `wb-info-block--background-standart wb-info-block--vert-centered`
    var headerTextStyles = ``
    if ( blockInfoObject.styles ) {
      if ( blockInfoObject.styles.includes('top-margin') ) wbInfoBlockClasses += ` wb-info-block--top-margin`
      if ( blockInfoObject.styles.includes('bigger-header-text') ) headerTextStyles += `wb-info-block__title--bigger-text`
    }
  .wb-info-block.wb-info-block--flexed-column(class=wbInfoBlockClasses style=`background-image:url(${blockInfoObject.backgroundImageSource})`)
    if blockInfoObject.imageSource
      img.wb-info-block__image(src=blockInfoObject.imageSource)
    if blockInfoObject.headerText
      .wb-info-block__title( class=headerTextStyles )= blockInfoObject.headerText
    if blockInfoObject.text
      p.wb-info-block__text= blockInfoObject.text
    if blockInfoObject.form
      +wb-form( blockInfoObject.form )